<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Shift A Plant Maintenance" %>
  </div>
  <div class="form-group">
    <%= f.label :division_id %><br>
    <%= f.collection_select :division_id, Division.where(organisation_id: current_user.organisation_id), :id, :name, {prompt: "Choose a division"}, {class: "btn btn-default dropdown-toggle"} %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
