<%= form_for([@organisation, @kpi]) do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :vector %>
        <%= f.select :vector,['Maximise','Minimise'],{}, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :unit_of_measure %>
        <%= f.select :units,['Number','Percentage'],{}, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :target %>
        <%= f.number_field :target, class: "form-control", :step => 'any' %>
    </div>

    <div class="form-group">
        <%= f.submit "Submit KPI", class: 'btn btn-primary' %>
    </div>
<% end %>