<p id="notice"><%= notice %></p>

<h1>Listing all Key Performance Indicators</h1>

<br>
<% if not(params[:pack]) %>
  <%= link_to 'New KPI', new_organisation_kpi_path, class: "btn btn-default" %>
<% else %>
  <%= link_to 'Return to Pack', @pack, class: "btn btn-default" %>
<% end %>

<br>
<br>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vector</th>
      <th>Units</th>
      <th>Frequency</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @kpis.each do |kpi| %>
      <tr>
        <td><%= kpi.name %></td>
        <td><%= kpi.vector %></td>
        <td><%= kpi.units %></td>
        <td><%= kpi.frequency %></td>
        <% if params[:pack] %>
          <% if @pack.kpis.include?(kpi) %>
            <td><%= link_to 'Remove from Pack', updatepack_organisation_kpi_path(@organisation, kpi, pack: @pack.id, change: "1"), method: :put %> </td>
          <% else %>
            <td><%= link_to 'Add to Pack', updatepack_organisation_kpi_path(@organisation, kpi, pack: @pack.id, change: "2"), method: :put %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', organisation_kpi_path(@organisation, kpi) %></td>
        <td><%= link_to 'Edit', edit_organisation_kpi_path(@organisation, kpi) %></td>
        <td><%= link_to 'Destroy', organisation_kpi_path(@organisation, kpi), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

