
<h1>Listing all Key Performance Indicators</h1>
<br>
<p><%= link_to "Download to Excel", kpi_datapoints_path(format: "xls") %> | <%= link_to "Import from Excel", new_data_import_path %> </p>


<%= form_tag updatevalues_organisation_kpis_path(@organisation), method: :get do %>
  <%= link_to '<<Previous Week', updatevalues_organisation_kpis_path(@organisation, date:(@week1-7)), class: "btn btn-link" %>
  	<%= date_field('event','date',value: @week4) %>
	<%= submit_tag "Change" %>

  <%= link_to 'Next Week>>', updatevalues_organisation_kpis_path(@organisation, date:(@week1+7)), class: "btn btn-link" %>
<% end %>
<br>
<p><i>Date selected will automatically go to beginning of the week</i></p>
 

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th width ="20%"></th>
      <th width ="20%"></th>
      <th>Week 1</th>
      <th>Week 2</th>
      <th>Week 3</th>
      <th>Week 4</th>
    </tr>
  </thead>

  <thead>
      <th width ="20%">Name</th>
      <th width ="20%">Units</th>
      <th><%= @week4.strftime('%d/%m/%Y') %></th>
      <th><%= @week3.strftime('%d/%m/%Y') %></th>
      <th><%= @week2.strftime('%d/%m/%Y') %></th>
      <th><%= @week1.strftime('%d/%m/%Y') %></th>

  </thead>

  <tbody>
    <% @kpis.each do |kpi| %>
      <tr>
        <td width ="20%"><%= kpi.name %></td>
        <td width ="20%"><%= kpi.units %></td>    

        <% if kpi.kpi_datapoints.get_wkvalue(@week4).first %>
          <td> <% v = kpi.kpi_datapoints.get_wkvalue(@week4).first %>
              <%= best_in_place v, :value, :as => :input, url: updatevalue_kpi_datapoint_path(id: v.id, date: @week4) %>
          </td>
        <% else %>
          <td> <% kpi_datapoint = KpiDatapoint.new %>
            <% kpi_datapoint.date = @week4  %>
            <% kpi_datapoint.kpi_id = kpi.id  %>
            <%= best_in_place kpi_datapoint, :value, :as => :input, id: "best_in_place_kpi_datapoint_result_#{kpi_datapoint}_result"  %>
          </td>
        <% end %>

        <% if kpi.kpi_datapoints.get_wkvalue(@week3).first %>
          <td> <% v = kpi.kpi_datapoints.get_wkvalue(@week3).first %>
              <%= best_in_place v, :value, :as => :input, url: updatevalue_kpi_datapoint_path(id: v.id, date: @week3) %>
          </td>
        <% else %>
          <td> <% kpi_datapoint = KpiDatapoint.new %>
            <% kpi_datapoint.date = @week3.to_date  %>
            <% kpi_datapoint.kpi_id = kpi.id  %>
            <%= best_in_place kpi_datapoint, :value, :as => :input, id: "best_in_place_kpi_datapoint_result_#{kpi_datapoint}_result"  %>
          </td>
        <% end %>

        <% if kpi.kpi_datapoints.get_wkvalue(@week2).first %>
          <td> <% v = kpi.kpi_datapoints.get_wkvalue(@week2).first %>
              <%= best_in_place v, :value, :as => :input, url: updatevalue_kpi_datapoint_path(id: v.id, date: @week2) %>
          </td>
        <% else %>
          <td> <% kpi_datapoint = KpiDatapoint.new %>
            <% kpi_datapoint.date = @week2.to_date  %>
            <% kpi_datapoint.kpi_id = kpi.id  %>
            <%= best_in_place kpi_datapoint, :value, :as => :input, id: "best_in_place_kpi_datapoint_result_#{kpi_datapoint}_result"  %>
          </td>
        <% end %>

        <% if kpi.kpi_datapoints.get_wkvalue(@week1).first %>
          <td> <% v = kpi.kpi_datapoints.get_wkvalue(@week1).first %>
              <%= best_in_place v, :value, :as => :input, url: updatevalue_kpi_datapoint_path(id: v.id, date: @week1) %>
          </td>
        <% else %>
          <td> <% kpi_datapoint = KpiDatapoint.new %>
            <% kpi_datapoint.date = @week1.to_date  %>
            <% kpi_datapoint.kpi_id = kpi.id  %>
            <%= best_in_place kpi_datapoint, :value, :as => :input, id: "best_in_place_kpi_datapoint_result_#{kpi_datapoint}_result"  %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>