	<div class="row">
		<div class="col-md-6 left">
		<h3> Actions <h3>
		</div>
		<div class="col-md-6 right">
	        <%= link_to new_pack_step_path(@pack), class: "btn btn-default", data: { no_turbolink: true} do %>
	          <i class="glyphicon glyphicon-plus"></i> Add Action
	        <% end %>
		</div>
	</div>

	
	<div class="row rpmpack">
		<div class="table-responsive">
			<table class="table table-hover table-condensed">
			  <thead class="pack-header">
			    <tr>
			      <th>Action</th>
			      <th>Due Date</th>
			      <th>Status</th>
			      <th colspan="1"></th>
			    </tr>
			  </thead>
			  <tbody>
				<% @actions.each do |action| %>
					<tr>
						<td width = "50%"> <%= best_in_place_if (can? :manage, @pack), [@pack, action], :description, :as => :input %> </td>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, action], :due_date, :as => :date, id: "date_input" %> </td>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, action], :status, :as => :select, :collection => @status_values,:value => action.status %> </td>
						<% if (can? :manage, @pack) %>
							<td width = "10%"> <%=link_to "Delete", pack_step_path(@pack, action), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		</div>
	</div>