	<div class="row">
		<div class="col-md-6 left">
			<h3> KPIs <h3>
		</div>
		<% if current_user.admin || current_user.role = "org_owner" || current_user.role = "div_owner" %>
			<div class="col-md-6 right">
		        <%= link_to organisation_kpis_path(@pack.meeting.division.organisation, pack: @pack.id), class: "btn btn-default", data: { no_turbolink: true} do %>
		          <i class="glyphicon glyphicon-plus"></i> Add/Remove KPI
		        <% end %>
			</div>
		<% end %>

	</div>

	<div class="row rpmpack">
		<div class="table-responsive">
			<% if @pack.kpis.blank? %>
				<h4> No KPIs added to this pack yet </h4>
			<% else %>
				<table class="table table-hover table-condensed">
				  <thead>
				    <tr>
				      <th>KPI Name</th>
				      <th width= "10%" class="hidden-xs">Units</th>
				      <th width= "10%" class="hidden-xs">Vector</th>
				      <th>Target</th>
				      <th>This Week</th>
				      <th>Variance</th>
  				      <th>Status</th>
<!--   				      <th>4 week average</th>
  				      <th>Variance</th> -->
				    </tr>
				  </thead>
				  <tbody>
					<% @pack.kpis.each do |kpi| %>
						<tr>
							<td> <%= kpi.name %></td>
							<td width= "10%" class="hidden-xs"> <%= kpi.units %></td>
							<td width= "10%" class="hidden-xs"> <%= kpi.vector %></td>
					        <% if kpi.units == 'Number' %>
          						<td> <%= kpi.target.round(2) %></td>
								<td> <%= t = kpi.kpi_datapoints.get_thiswkvalue.average(:value) %> </td>
								<td> <%= var = t - kpi.target %> </td>
								<% if kpi.vector == "Maximise" && var >= 0 %>
								<td class="green"> <span class="glyphicon glyphicon-ok"></span> </td>
								<% elsif kpi.vector == "Maximise" && var < 0 %>
								<td class="red"> <span class="glyphicon glyphicon-remove"></span> </td>
								<% elsif kpi.vector == "Minimise" && var <= 0 %>
								<td class="green"> <span class="glyphicon glyphicon-ok"></span> </td>
								<% elsif kpi.vector == "Minimise" && var > 0 %>
								<td class="red"> <span class="glyphicon glyphicon-remove"></span> </td>
								<% end %>
<!-- 								<td> <%= ave = kpi.kpi_datapoints.get_4wkvalues.average(:value).round(2) %> </td>
								<td> <%= ave - kpi.target %> </td> -->
        					<% else %>
          						<td><%= number_to_percentage(kpi.target, precision: 2) %></td>
									<% t = kpi.kpi_datapoints.get_thiswkvalue.average(:value) %> 
								<td> <%= number_to_percentage(t, precision: 2) %> </td>
								<td> <%= number_to_percentage(var = t - kpi.target, precision: 2) %> </td>
								<% if kpi.vector == "Maximise" && var >= 0 %>
								<td class="green"> <span class="glyphicon glyphicon-ok"></span> </td>
								<% elsif kpi.vector == "Maximise" && var < 0 %>
								<td class="red"> <span class="glyphicon glyphicon-remove"></span> </td>
								<% elsif kpi.vector == "Minimise" && var <= 0 %>
								<td class="green"> <span class="glyphicon glyphicon-ok"></span> </td>
								<% elsif kpi.vector == "Minimise" && var > 0 %>
								<td class="red"> <span class="glyphicon glyphicon-remove"></span> </td>
								<% end %>
<!-- 									 <% ave = kpi.kpi_datapoints.get_4wkvalues.average(:value) %> 
								<td> <%= number_to_percentage(ave, precision: 2) %></td>
								<td> <%= number_to_percentage(ave - kpi.target, precision: 2) %> </td> -->
        					<% end %>				
						</tr>
					<% end %>
				  </tbody>
				</table>
			<% end %>
		</div>
	</div>