
<div class = "container-fluid">

	<%= image_tag current_user.organisation.image.logo.url %>

	<h4>
	  <strong><%= @pack.title %></strong>
	  
	</h4>

	<h4>
	  <strong><%= best_in_place @pack, :status, :as => :select, :collection => @packstatus_values,:value => @pack.status %> </strong>
	  
	</h4>

	<div class="row">
		<div class="col-md-6 left">
			| <%= link_to 'Edit', edit_pack_path(@pack), class: "btn btn-link" %> |
			<% if current_user.role = "org_owner" || current_user.role = "meeting_owner"|| current_user.role = "div_owner"%>
				<%= link_to 'Back', meeting_path(@pack.meeting_id), class: "btn btn-link" %>  |
			<% end %>
			<br>
			<h3> Summary <h3>
		</div>
			

		<div class="col-md-6 right">
			<br>
			<br>
	        <%= link_to new_pack_update_path(@pack), class: "btn btn-default", data: { no_turbolink: true} do %>
	          <i class="glyphicon glyphicon-plus"></i> Add Update
	        <% end %>
		</div>
	</div>

	<div class="row rpmpack">
		<div class="col-md-6">
		<% if @updates.blank? %>
			<h3>No updates yet</h3>
		<% else %>
				<table class="table table-hover table-condensed">
				  <thead>
				    <tr>
				      <th>HIGHLIGHTS</th>
				      <th colspan="2"></th>
				    </tr>
				  </thead>
				  <tbody>
					<% @highlights.each do |highlight| %>
					<tr>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, highlight], :date, :as => :date %> : </td>
						<td width = "70%"> <%= best_in_place_if (can? :manage, @pack), [@pack, highlight], :text, :as => :input %> </td>
						<% if (can? :manage, @pack) %>
							<td width = "10%"> <%=link_to "Delete", pack_update_path(@pack, highlight), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
						<% end %>
					</tr>
				  </tbody>
				</table>
		<% end %>
		</div>


		<div class="col-md-6">
			<table class="table table-hover table-condensed">
			  <thead>
			    <tr>
			      <th>ISSUES</th>
			      <th colspan="2"></th>
			    </tr>
			  </thead>
			  <tbody>
				<% @issues.each do |issue| %>
					<tr>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, issue], :date, :as => :date, id: "date_input" %> : </td>
						<td width = "70%"> <%= best_in_place_if (can? :manage, @pack), [@pack, issue], :text, :as => :input %> </td>
						<% if (can? :manage, @pack) %>
							<td width = "10%"> <%=link_to "Delete", pack_update_path(@pack, issue), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		</div>

		<div class = "breaker">
			<div class="col-md-12">
			</div>
		</div>

		<div class="col-md-6">
			<table class="table table-hover table-condensed">
			  <thead>
			    <tr>
			      <th>LOWLIGHTS</th>
			      <th colspan="2"></th>
			    </tr>
			  </thead>
			  <tbody>
				<% @lowlights.each do |lowlight| %>
					<tr>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, lowlight], :date, :as => :date, id: "date_input" %> : </td>
						<td width = "70%"> <%= best_in_place_if (can? :manage, @pack), [@pack, lowlight], :text, :as => :input %> </td>
						<% if (can? :manage, @pack) %>
							<td width = "10%"> <%=link_to "Delete", pack_update_path(@pack, lowlight), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		</div>

		<div class="col-md-6">
			<table class="table table-hover table-condensed">
			  <thead>
			    <tr>
			      <th>PRIORITIES</th>
			      <th colspan="2"></th>
			    </tr>
			  </thead>
			  <tbody>
				<% @priorities.each do |priority| %>
					<tr>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, priority], :date, :as => :date, id: "date_input" %> : </td>
						<td width = "70%"> <%= best_in_place_if (can? :manage, @pack), [@pack, priority], :text, :as => :input %> </td>
						<% if (can? :manage, @pack) %>
							<td width = "10%"> <%=link_to "Delete", pack_update_path(@pack, priority), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		</div>

		<% end %>

	</div>
	</div>

	<div class = "row">
		<div class="col-md-12">
		</div>
	</div>


	<div class="row">
		<div class="col-md-6 left">
		<h3> Actions <h3>
		</div>
		<div class="col-md-6 right">
	        <%= link_to new_pack_step_path(@pack), class: "btn btn-default", data: { no_turbolink: true} do %>
	          <i class="glyphicon glyphicon-plus"></i> Add Action
	        <% end %>
		</div>
	</div>

	
	<div class="row rpmpack">
		<div class="col-md-12">
			<table class="table table-hover table-condensed">
			  <thead>
			    <tr>
			      <th>Action</th>
			      <th>Due Date</th>
			      <th>Status</th>
			      <th colspan="1"></th>
			    </tr>
			  </thead>
			  <tbody>
				<% @actions.each do |action| %>
					<tr>
						<td width = "50%"> <%= best_in_place_if (can? :manage, @pack), [@pack, action], :description, :as => :input %> </td>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, action], :due_date, :as => :date, id: "date_input" %> </td>
						<td width = "20%"> <%= best_in_place_if (can? :manage, @pack), [@pack, action], :status, :as => :select, :collection => @status_values,:value => action.status %> </td>
						<% if (can? :manage, @pack) %>
							<td width = "10%"> <%=link_to "Delete", pack_step_path(@pack, action), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 left">
			<h3> KPIs <h3>
		</div>
		<% if current_user.admin || current_user.role = "org_owner" || current_user.role = "div_owner" %>
			<div class="col-md-6 right">
		        <%= link_to organisation_kpis_path(@pack.meeting.division.organisation, pack: @pack.id), class: "btn btn-default", data: { no_turbolink: true} do %>
		          <i class="glyphicon glyphicon-plus"></i> Add/Remove KPI
		        <% end %>
			</div>
		<% end %>

	</div>

	<div class="row rpmpack">
		<div class="col-md-12">
			<% if @pack.kpis.blank? %>
				<h4> No KPIs added to this pack yet </h4>
			<% else %>
				<table class="table table-hover table-condensed">
				  <thead>
				    <tr>
				      <th>KPI Name</th>
				      <th>Units</th>
				      <th>Vector</th>
				      <th>Target</th>
				      <th>This Week</th>
				      <th>Previous Week</th>
  				      <th>4 week average</th>
				    </tr>
				  </thead>
				  <tbody>
					<% @pack.kpis.each do |kpi| %>
						<tr>
							<td> <%= kpi.name %></td>
							<td> <%= kpi.units %></td>
							<td> <%= kpi.vector %></td>
					        <% if kpi.units == 'Number' %>
          						<td> <%= kpi.target %></td>
								<td> <%= kpi.kpi_datapoints.get_thiswkvalue.average(:value) %> </td>
								<td> <%= kpi.kpi_datapoints.get_1wkvalue.average(:value) %> </td>
								<td> <%= kpi.kpi_datapoints.get_4wkvalues.average(:value).round(2) %> </td>
        					<% else %>
          						<td><%= number_to_percentage(kpi.target, precision: 2) %></td>
								<td> <%= number_to_percentage(kpi.kpi_datapoints.get_thiswkvalue.average(:value), precision: 2) %> </td>
								<td> <%= number_to_percentage(kpi.kpi_datapoints.get_1wkvalue.average(:value), precision: 2) %> </td>
								<td> <%= number_to_percentage(kpi.kpi_datapoints.get_4wkvalues.average(:value), precision: 2) %> </td>
        					<% end %>				
						</tr>
					<% end %>
				  </tbody>
				</table>
			<% end %>
		</div>
	</div>

</div>

